*,
*::after,
*::before {
	box-sizing: border-box;
}
body, ul, li {list-style: none; margin: 0; padding: 0; }
a {text-decoration: none; color: inherit;}
body {
  background-color: hsl(0,0%,18%);
  background-size: 3px 3px;
  background-image: 
    linear-gradient(  0deg, hsla(0,0%,0%,0) 0, hsla(0,0%,10%,1) 3px),
    linear-gradient( 90deg, hsla(0,0%,0%,0) 0, hsla(0,0%,10%,1) 5px);
}

@font-face {
	font-family: 'AlphaLyrae';
	src: url('../fonts/AlphaLyrae-Medium.woff2') format('woff2'),
	url('../fonts/AlphaLyrae-Medium.woff') format('woff');
	font-style: normal;
}


html, body {
	overflow-x: hidden;
}

body {
	background-color: #050505;
	color: #fff;
	font-family: 'pretendard', sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal; 
	overflow-x: hidden;
	-ms-overflow-style: none;
	cursor: none;
	
}

	.ft-12 {font-size: 12px;}
	.ft-13 {font-size: 13px;}
	.ft-14 {font-size: 14px;}
	.ft-16 {font-size: 16px;}
	.ft-18 { font-size: 18px; }
	.ft-20 { font-size: 20px; }
	.ft-25 { font-size: 25px }
	.ft-28 {font-size: 28px;}
	.ft-30 { font-size: 30px; }
	.ft-35 { font-size: 35px; }
	.ft-40 { font-size: 40px; }
	.ft-45 { font-size: 45px; }
	.ft-48 { font-size: 48px; }
	.ft-50 {font-size: 50px;}
	.ft-60 {font-size: 60px;}
	.ft-65 {font-size: 65px;}
	.ft-75 {font-size: 75px;}
	.ft-bd { font-weight: bold; }
	.ft-no {font-weight: normal;}

/* Page Loader */ 
.js .loading::before, 
.js .loading::after { content: ''; position: fixed; z-index: 1000; } 
.js .loading::before { top: 0; left: 0; width: 100%; height: 100%; background: var(--color-bg); } 
.js .loading::after { top: 50%; left: 50%; width: 60px; height: 60px; margin: -30px 0 0 -30px; border-radius: 50%; opacity: 0.4; background: var(--color-link); animation: loaderAnim 0.7s linear infinite alternate forwards; } 
@keyframes loaderAnim { to { opacity: 1; transform: scale3d(0.5,0.5,1); } } 


/*공통*/
/* .wrap {background: linear-gradient(#000, #2B1637);} */
::-webkit-scrollbar {
	width: 10px;
	
}

::-webkit-scrollbar-thumb {
	background-color: #c0c0c0; /* 스크롤 막대 색상 */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* 스크롤 막대 호버 시 색상 */
}

/*-------------커서 효과------------------------------------------------*/	
.cursor {z-index: 1000; pointer-events: none; position: fixed; padding: 0.5rem; background-color: #fff; border-radius: 50%; mix-blend-mode: difference; transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease; width: 20px; height: 20px;  transform: translate(-50%, -50%);}
.cursor.hovered { width: 40px; height: 40px; }
a,i, button {cursor: none;}


/*--------------top-btn start---------------------------------------------------------------------------*/
.top-btn { display: none; position: fixed;  right: 80px; background-color: #fff; color: #222; border: none; width: 50px; height: 50px; font-size: 20px; cursor: pointer; z-index: 30; border-radius: 30px; line-height: 1; transition: 0.6s; }
.top-btn:hover { background-color: #ffffff; color: #000000; }
/*--------------top-btn end---------------------------------------------------------------------------*/




/* ------페이지네이션------- */
.pagination {
	position: fixed;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.page-item {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: color 0.3s ease;
}

.page-item span {
	margin-left: 10px;
	font-size: 13px;
	font-weight: 300;
	 /* 처음에는 투명하게 설정 */
	background: linear-gradient(90deg, #661b75, #41e6e6); /* 그라디언트 색상 설정 */
	-webkit-background-clip: text; /* 텍스트에 그라디언트 적용 */
	background-clip: text; /* 텍스트에 그라디언트 적용 */
	transition: color 0.3s ease, font-weight 0.2s;
}

.circle { width: 12px; height: 12px; border-radius: 50%; background-color: #ffffff; margin-right: 10px; transition: background-color 0.3s ease;  } 
.page-item.active .circle { background-color: #82549c; }

.page-item.active span {
	color: transparent; /* 여전히 투명하게 유지 */
	background: linear-gradient(45deg, #cf66e4, #41e6e6); /* 활성화 시 그라디언트 색상 */
	-webkit-background-clip: text; /* 텍스트에 그라디언트 적용 */
	background-clip: text; /* 텍스트에 그라디언트 적용 */
}




/*------------ 메인 페이지--------------- */
.header {max-width: 1900px; margin-left: auto; margin-right: auto; height: 900px; position: relative; }
.menu-bar {z-index: 100; transition: top 0.3s;  position: fixed; top: 0; left: 6%; width: 88%; border-bottom: 1px solid #fff; height: 100px;  line-height: 100px; display: flex; justify-content: space-between;}
.menu-bar .solid-bar a {transition: 0.5s;}
.menu-bar .solid-bar a:hover {color: #82549c;}
.main-txt, .main-txt-2 {
	position: absolute;
	font-size: 3rem;
	font-weight: bold;
	opacity: 0;
	transition: opacity 1s;
}
.main-txt.active, .main-txt-2.active {
	opacity: 1;
}
.main-txt {position: absolute; bottom: 15%; left: 5%; background: linear-gradient(70deg, blue, rgb(201, 119, 132));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;}
.main-txt-2 { position: absolute; bottom: 9%; left: 5%;  background: linear-gradient(70deg, rgb(87, 14, 116), rgb(27, 130, 189));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;}


/* about 페이지 */
.about {position: relative; display: flex; margin-top: 100px;  max-width: 1700px; margin-left: auto; margin-right: auto; height: 900px; padding-bottom: 900px;}
.about-bg {position: absolute; left: -6%; bottom: 11%; width: 925px; height: 550px; }
.about-lt { width: 50%; height: 800px;}
.about-lt > p {position: absolute; top: 20%; left: 19%;}
.about-lt-1 {position: absolute; left: 12.5%; top: 35%; width: 500px; height: 500px; border: 5px solid #c7c7c7; background-image: url();}
.about-lt-1 > img {object-fit: cover; width: 100%;}
.about-rt { width: 50%; height: 800px;}
.profile {width: 500px; height: 490px; position: absolute; top: 34%; right: 15%;}
.profile > ul >li {width: 100%; padding: 15px;}
.pro-p {margin-top: 20px; gap: 30px;}





/* 큐브 뒤 그라디언트 박스 */
.card { background: #191c29; width: 30%; height: 60%; padding: 3px; left: 35%; top: 20%; position: absolute; border-radius: 6px; justify-content: center; align-items: center; text-align: center; display: flex; font-size: 1.5em; color: rgb(88 199 250 / 0%); cursor: pointer; font-family: cursive; }
.card::before { content: ""; width: 104%; height: 104%; border-radius: 8px; background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2); position: absolute; z-index: -1; top: -2%; left: -2%; animation: spin 2.5s linear infinite; }
.card::after { position: absolute; content: ""; top: calc(var(--card-height) / 6); left: 0; right: 0; z-index: -1; height: 100%; width: 100%; margin: 0 auto; transform: scale(0.8); filter: blur(calc(var(--card-height) / 6)); background-image: linear-gradient(var(--rotate), #5142d1, #a12da5 43%,  rgb(35, 139, 105)); opacity: 1; transition: opacity .5s; animation: spin 2.5s linear infinite; }
@keyframes spin { 0% { --rotate: 0deg; } 100% { --rotate: 360deg; } }
@property --rotate { syntax: "<angle>"; initial-value: 132deg; inherits: false; }
:root { --card-height: 65vh; --card-width: calc(var(--card-height) / 1.5); }


/*-------- 큐브 -----------*/

.cube { animation: rotate 12000ms linear infinite; text-align: center; line-height: 4.5; position: absolute; top: 36%; right: 43%; margin: auto; width: 280px; height: 280px; transform-style: preserve-3d; }
@keyframes rotate { 100% { transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg); } }
.face { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.front {background: linear-gradient(70deg, blue, rgb(201, 119, 132)); transform: translateZ(140px); }
.back {background: linear-gradient(70deg, blue, rgb(201, 119, 132)); transform: translateZ(-140px); }
.left { background: linear-gradient(140deg, rgb(35, 139, 105), rgb(12, 13, 68)); transform: translateX(-140px) rotateY(90deg); }
.right { background: linear-gradient(140deg, rgb(35, 139, 105), rgb(12, 13, 68)); transform: translateX(140px) rotateY(90deg); }
.top {  background: linear-gradient(-70deg, rgb(87, 14, 116), rgb(27, 130, 189)); transform: translateY(-140px) rotateX(90deg); line-height: 2.3;}
.bottom {  background: linear-gradient(-70deg, rgb(87, 14, 116), rgb(27, 130, 189)); transform: translateY(140px) rotateX(90deg); }


/*---------- 사이드 메뉴 페이지 --------*/
.menu-open {position: fixed; width: 100vh; overflow: hidden;left: 0;  top: 0;}
.Menu {z-index: 200; display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; }
.Menu .close-btn {cursor: pointer; position: absolute; right: 10%; top: 10%;  width: 40px;  height: 40px; display: flex; align-items: center; justify-content: center; }
.Menu-list { position: absolute; top: 15%; left: 15%; font-size: 6.25rem; line-height: 1.2; text-transform: uppercase; text-align: center; display: flex; flex-direction: column; align-items: center; transform: rotateX(-10deg) rotateY(20deg); }
.Menu-list-item { position: relative; color: transparent; cursor: pointer; }
.Menu-list-item::before { content: ''; display: block; position: absolute; top: 49%; left: -10%; right: -10%; height: 4px; border-radius: 4px; margin-top: -2px; background: #82549c; transform: scale(0); transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98); z-index: 1; }
.Mask { display: block; position: absolute; overflow: hidden; color: #fff; top: 0; height: 49%; transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98); }
.Mask span { display: block; }
.Mask + .Mask { top: 48.9%; height: 51.1%; }
.Mask + .Mask span { transform: translateY(-49%); }
.Menu-list-item:hover .Mask, .Menu-list-item:active .Mask { color: #FFF; transform: skewX(12deg) translateX(5px); }
.Menu-list-item:hover .Mask + .Mask, .Menu-list-item:active .Mask + .Mask { transform: skewX(12deg) translateX(-5px); }
.Menu-list-item:hover::before, .Menu-list-item:active::before { transform: scale(1); }



/* 섹션 1 vr , mone 아트 갤러리 이미지 모핑  */
.content-wrap {overflow: hidden; margin-top: 600px; display: grid; gap: 40vh; margin-bottom: 5vh; }
.content {padding-top: 100px; margin: 100px auto; flex: none; display: grid; place-items: center; line-height: 1.2; grid-template-areas: 'title' 'layout' '...'; grid-template-rows: 3.5vw auto 3.5vw;}
.content--intro { grid-area: intro; }
#item-1 {margin-top: 50px;}
.content__img-wrap { grid-area: layout; }
.content__img { --img-width: 60vw; --img-height: 50vh; --img-ar: auto; --img-inner-margin-x: 0px; --img-inner-margin-y: 0px; position: relative; overflow: hidden; display: grid; place-items: center; width: var(--img-width); height: var(--img-height); aspect-ratio: var(--img-ar); }
.content__img--1 { --img-width: 70vw; --img-height: auto; --img-ar: 16/8; }
.content__img--2 { --img-width: 100vw; --img-height: 100vh; padding-bottom: 100px;}
.content__img-inner {  grid-area: 1 / -1; width: calc(100% + var(--img-inner-margin-x) * 2); height: 920px; background-size: cover; background-position: 50% 50%; }
.content__img-inner--hidden { opacity: 0; }
.content__text { font-family: 'AlphaLyrae', sans-serif; position: relative; z-index: 100; grid-area: title; text-transform: uppercase; font-size: clamp(2rem, 6vw, 4rem); margin: 0; display: flex; flex-direction: column; font-weight: 400; line-height: 1; }
.content__text span span { display: inline-block; }
.content__text span span.whitespace { white-space: pre; }
.content__text span:nth-child(3n) { font-feature-settings: 'ss01' 1; }
.content__text--large { font-size: clamp(2rem, 7vw, 6rem); }
.content__text--center { text-align: center; align-self: center; justify-content: space-between; grid-row: 1 / span 3; }
.content__text--left {position: relative;  margin-left: 250px; justify-self: start; padding: 3rem; grid-area: layout; align-self: center; }
.content__text--left > img {position: absolute;  width: 900px; height: 450px; top: 16%; left: 106%;}
.content__text-tiny { text-transform: none; font-family: 'pretendard', sans-serif; font-size: 1.1rem;  max-width: 450px; line-height: 1.2; margin-top: 5vh; }
#item-1 .content__img-inner {display: none; height: 200px;}
.content__text--left .view-btn { position: absolute; font-family: 'pretendard', sans-serif; top: 133%; transition: 0.5s; cursor: pointer; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000; }
.view-inter {position: absolute; top: 93%; font-family: 'pretendard', sans-serif; left: 67%;}
.view-skill-1 {position: absolute; top: 100%; font-family: 'pretendard', sans-serif; left: 9%; line-height: 1.3;}
.view-skill-2 {position: absolute; top: 102%; font-family: 'pretendard', sans-serif; left: 45.5%; line-height: 1.3;}
.content__text--left .view-btn:hover {background-color: #82549c; color: #FFF;}
.lt-20 {left: 50%;}
.view-pro {right: 10%; position: absolute; font-family: 'pretendard', sans-serif; top: 100%; transition: 0.5s; cursor: pointer; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000;}
#item-4 .content__text--left {margin-left: 1200px; text-align: right;}
#item-4 .content__text--left > img {left: -199%; top: 17%;}
#item-4 .content__text--left .view-btn {left: 55%; top: 126%;}



/* 990start  섹션 1 모바일 모네 vr */

.section-1-mob {display: none; }
.mob-work {text-align: center; margin-bottom: 100px;}
.mob-con {max-width: 900px; margin: 0 auto;}
.mob-vr {width: 90%; margin-left: auto; margin-right: auto; position: relative;}
.mob-vr-1 > img {width: 100%; height: 100%;}
.mob-vr-2 {margin-top: 40px;}
.mob-vr-m {margin-bottom: 20px;}
.mob-vr-2 > .view-btn {position: absolute; bottom: 0; right: 0; transition: 0.5s; cursor: pointer; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000;}
.mob-vr-2 > .view-btn:hover {background-color: #82549c; color: #FFF;}
.mob-inter {padding-left: 370px; font-size: 13px;}


.mob-mone {margin-top: 200px; width: 90%; margin-left: auto; margin-right: auto; position: relative;}
.mob-mone-1 > img {width: 100%; height: 100%;}
.mob-mone-2 {margin-top: 40px;}
.mob-mone-m {margin-bottom: 20px;}
.mob-mone-2 > .view-btn {position: absolute; bottom: 0; right: 0; transition: 0.5s; cursor: pointer; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000;}
.mob-mone-2 > .view-btn:hover {background-color: #82549c; color: #FFF;}

/* 스크롤 마퀴 */
.cover {
	font-weight: bold;
  width: 100%;
 overflow: hidden;
  display: flex;
}

.cover:nth-child(1) {
  margin-top: 300px;
  transform: rotate(-2deg);
  background: linear-gradient(70deg, blue, rgb(201, 119, 132));
}

.cover:nth-child(2) {
  transform: rotate(2deg);
  background: linear-gradient(70deg, rgb(87, 14, 116), rgb(27, 130, 189));
  justify-content: flex-end;
}

.cover:nth-child(3) {
  transform: rotate(-2deg);
	background: linear-gradient(70deg, rgb(35, 139, 105), rgb(12, 13, 68));
}





/* 섹션 2,3 서브 작업물 이미지 어태치먼트 */

.common-section { max-width: 1700px; margin: 200px auto 0; height: 700px; }
.common-section .sub-con { display: flex; height: 100%; }
.common-section .sub-txt { width: 50%; height: 500px; margin-left: 100px; padding-top: 170px; }
.common-section .sub-txt .hash { display: flex; justify-content: flex-start; flex-direction: column;}
.common-section .sub-txt .hash .view-btn { transition: 0.5s; cursor: pointer; margin-top: 30px; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000; }
.common-section .sub-txt .hash .view-btn:hover {background-color: #82549c; color: #FFF;}
.section-2 .sub-txt {padding-top: 233px;}
.section-2 .sub-txt .hash {flex-direction: column;}
.section-2 .sub-img { width: 50%; background-image: url('../img/lushmain3.png'); background-attachment: fixed;  background-position: right;  background-repeat: no-repeat; background-size: 850px 450px;}
.section-2 .sub-txt .hash .view-btn { transition: 0.5s; cursor: pointer; margin-top: 30px; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000; }


.section-3 .sub-txt {padding-top: 233px;}
.section-3 .sub-txt .hash {flex-direction: column;}
.section-3 .sub-txt .hash .view-btn { transition: 0.5s; cursor: pointer; margin-top: 30px; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000; }
.section-3 .sub-img { width: 50%; background-image: url('../img/hyundaimain.png');  background-attachment: fixed;  background-position: right; background-repeat: no-repeat; background-size: 850px 450px; }



/* 섹션 2,3 서브 모바일 커스텀  */
.section-2-mob {margin-top: 200px; display: none;}
.mob-work-2 {text-align: center; margin-bottom: 100px;}
.mob-con {max-width: 900px; margin: 0 auto;}
.mob-lush {width: 90%; margin-left: auto; margin-right: auto; position: relative;}
.mob-lush-1 > img {width: 100%; height: 100%;}
.mob-lush-2 {margin-top: 40px;}
.mob-lush-m {margin-bottom: 20px;}
.mob-lush-2 > .view-btn {position: absolute; bottom: 0; right: 0; transition: 0.5s; cursor: pointer; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000;}
.mob-lush-2 > .view-btn:hover {background-color: #82549c; color: #FFF;}


.mob-hyun {margin-top: 200px; width: 90%; margin-left: auto; margin-right: auto; position: relative;}
.mob-hyun-1 > img {width: 100%; height: 100%;}
.mob-hyun-2 {margin-top: 40px;}
.mob-hyun-2 > .mob-inter {padding-left: 400px; font-size: 13px;}
.mob-hyun-m {margin-bottom: 20px;}
.mob-hyun-2 > .view-btn {position: absolute; bottom: 0; right: 0; transition: 0.5s; cursor: pointer; width: 200px; height: 50px; line-height: 50px; border-radius: 50px; text-align: center; background-color: #fff; color: #000;}
.mob-hyun-2 > .view-btn:hover {background-color: #82549c; color: #FFF;}




/* 섹션 5 컨택 */
.section-4 {max-width: 1700px; margin-left: auto; margin-right: auto; margin-top: 100px; height: 900px; display: flex; align-items: end; position: relative;}
.section-4 .sec-box {width: 42%; display: flex; margin-bottom: 10px; align-items: center; height: 300px;}
.section-4 .thank {position: absolute; transform: translate(-50%, -50%); top: 40%; left: 51%;}
.section-4 .contact {position: absolute; bottom: 9%;}
.section-4 .myname {position: absolute; bottom: 5%;}
.section-4 .con-icon {margin-left: 30px; display: flex; width: 13%; justify-content: space-between; }
.section-4 .con-icon a {transition: 0.5s;}
.section-4 .con-icon a:hover {color: #82549c;}
.section-4 .line {position: absolute; width: 1700px; color: #fff; margin-bottom: 160px;}
.section-4 .last {position: absolute; left: 38%; bottom: 8%;}
.section-4 .copy {position: absolute; left: 41.5%; bottom: 5%; }




/*---반응형 시작-----------------------------------------------------------------------------------*/

/*---------------------------데스크탑 반응형 시작 ----------------------------------*/
@media (max-width: 1500px){

}




@media (max-width: 1500px) {
	/* 페이지네이션 커스텀 */
	.page-item span {font-size: 12px;}

	/* 최상단 큐브 커스텀 */
	.cube {width: 200px; height: 200px; right: 44%; line-height: 4;}
	.front {transform: translateZ(100px);}
	.back {transform: translateZ(-100px); }
	.left {transform: translateX(-100px) rotateY(90deg);}
	.right {transform: translateX(100px) rotateY(90deg);}
	.top {transform: translateY(-100px) rotateX(90deg); line-height: 2.3;}
	.bottom {transform: translateY(100px) rotateX(90deg);}
	
	/* 큐브 뒤 카드 커스텀 */
	.card {height: 52%; width: 28%; left: 36%;}
	.face {font-size: 50px;}


	/* 어바웃 미 커스텀 */
	.about-lt-1 {left: 14.5%; width: 400px; height: 400px;}

	
	/* 섹션 1 vr, mone 크기 커스텀 */
	.content__text--left {
		margin-left: 41px;
		font-size: 60px;
	}

	.content__text--left > img {
		width: 800px;
		left: 104%;
	}
	.content__text-tiny {font-size: 15px;}
	.view-skill-1 {font-size: 14px;}
	.view-skill-2 {font-size: 14px; left: 44.5%; top: 107%;}
	.view-inter {left: 62%;}
	#item-4 .content__text--left {margin-left: 875px;}
	#item-4 .content__text--left > img {left: -166%; top: 16%;}
	#item-4 .content__text--left .view-btn {left: 49%; top: 134%;}

	/* 섹션 2 , 3 */
	.common-section .sub-txt {margin-left: 90px;}
	.common-section  .mid-t {font-size: 16px;}
	.section-2 .sub-img {width: 75%; margin-right: 87px;}
	.section-3 .sub-img {width: 75%; margin-right: 87px;}
	.common-section .hash-box {font-size: 14px;}



	/* 섹션 4 푸터 부분 */
	.section-4 .contact {left: 5%; font-size: 40px;}
	.section-4 .myname {left: 5%; font-size: 14px;}
  .section-4 .last {left: 37%; font-size: 14px;}
	.section-4 .copy {left: 40.5%; font-size: 14px;}
}



/* 중형 데스크톱 (표준 화면) */
@media (max-width: 1440px) {
	/* 페이지네이션 비활성화 */
	.pagination {display: none;}

	/* 탑 버튼 활성화 */
	.top-btn {
    display: block; /* 1440px 이상일 때 버튼 보이기 */
		bottom: 8%;
  }
		.top-btn:hover {
 	 background-color: #ffffff;
 	 color: #000000;
	}

	/* 최상단 큐브 커스텀 */
	.cube {right: 43%;}

	/* 섹션 1 vr, mone 크기 커스텀 */
	.content__text--left {font-size: 50px;}
	.content__text--left > img {left: 112%;}
	.view-skill-1 {left: 11%;}
	#item-4 .content__text--left {margin-left: 884px;}
	#item-4 .content__text--left > img {left: -168%;}
	.view-inter {left: 62%;}
	.view-skill-2 {left: 44%; top: 110%;}
	#item-4 .content__text--left .view-btn {left: 48%; top: 142%;}
	.content__img-inner {height: 720px;}

}


@media (max-width: 1350px) {
	/* 상단 메인페이지 커스텀 */
	.card {height: 47%;}
	.cube {top: 33%;}
	.main-txt {font-size: 40px; bottom: 22%;}
	.main-txt-2 {font-size: 40px; bottom: 17%;}

  /* 어바웃미 커스텀*/
	.profile {right: 9%;}
	.profile > ul > li {font-size: 14px;}
	.pro-p {font-size: 16px;}


  /* 섹션 1 vr, mone 크기 커스텀 */
	.content__text--left > img {width: 750px; height: 450px; left: 118%;}
	.content__text-tiny {font-size: 14px;}
	.view-skill-1 {font-size: 13px;}
	#item-4 .content__text--left {margin-left: 850px;}
	#item-4 .content__text--left > img {left: -171%;}
	#item-4 .content__text--left .view-btn {left: 45%;}
	.view-inter {left: 64%; font-size: 14px;}
	.view-skill-2 {left: 45%; font-size: 13px;}
	.content__text--large {font-size: 65px;}
	


		/* 섹션 2 , 3 */
		.common-section .sub-txt {margin-left: 90px;}
		.common-section  .mid-t {font-size: 14px;}
		.section-2 .sub-img {width: 100%; background-size: 750px 400px; }
		.section-3 .sub-img {width: 100%; background-size: 750px 400px; }
		.common-section .hash-box {font-size: 13px;}
		.bot-t {font-size: 14px;}
}

@media (max-width: 1250px){
	#item-4 .content__text--left {margin-left: 740px;}
	.content__text--left > img {width: 700px; height: 400px; left: 98%;}
	#item-4 .content__text--left > img {left: -149%;}
	.view-skill-2 {top: 105%;}
	#item-4 .content__text--left .view-btn {top: 129%;}

}


@media (max-width: 1200px) {
		/* 최상단 큐브 커스텀 */
		.cube {width: 150px; height: 150px; right: 44%; line-height: 4;}
		.front {transform: translateZ(75px);}
		.back {transform: translateZ(-75px); }
		.left {transform: translateX(-75px) rotateY(90deg);}
		.right {transform: translateX(75px) rotateY(90deg);}
		.top {transform: translateY(-75px) rotateX(90deg); line-height: 2.3;}
		.bottom {transform: translateY(75px) rotateX(90deg);}
		
		/* 큐브 뒤 카드 커스텀 */
		.card {height: 40%; width: 28%; left: 36%;}
		.face {font-size: 35px;}
		.main-txt {font-size: 35px; bottom: 25%;}
		.main-txt-2 {font-size: 35px; bottom: 20%;}
	
		/* 어바웃 미 커스텀 */
		.about-lt > p {font-size: 45px;}
		.about-lt-1 {left: 14.5%; width: 300px; height: 300px;}
		.profile {right: 5%;}


	/* 섹션 1 vr, mone 크기 커스텀 */
	.content__text--left > img {width: 640px; height: 340px; left: 100%; top: 17%;}
	.content__text--left .view-btn {width: 180px; font-size: 16px;}
	#item-4 .content__text--left > img {left: -141%;}
	#item-4 .content__text--left {margin-left: 707px;}
	#item-4 .content__text--left .view-btn {left: 50%;}
	.content__img-inner {height: 600px;}

	/* 섹션 2, 3 서브 작업 커스텀 */
	.section-2 .sub-txt .hash .view-btn {width: 180px; font-size: 16px;}
	.section-2 .sub-img {width: 74%; background-size: 675px 340px;}
	.section-3 .sub-img {width: 74%; background-size: 675px 340px;}
	.top-t {font-size: 40px;}

	/* 스크롤 이벤트 커스텀 */
	.first-parallel {font-size: 30px;}
	.second-parallel {font-size: 30px;}
	.third-parallel {font-size: 30px;}

}

/*--------------------------------------------------데스크탑 반응형 마무리----------------------------------*/

/*------------------------ 태블릿 반응형 시작 ----------------------------------- */
@media (max-width: 1040px) {

	/* 메인페이지 커스텀 */
 .header {height: 700px;}
 .logo {font-size: 35px;}
 .solid-bar {font-size: 25px;}
 
 .cube {right: 43%; top: 28%;}


 /* 사이드 메뉴 커스텀 */
 .Menu-list {top: 33%; left: 28%;}

 /* 큐브 뒤 카드 커스텀 */
 .card {height: 38%; width: 28%; left: 36%;}
 .face {font-size: 35px;}
 .main-txt {font-size: 30px; bottom: 34%;}
 .main-txt-2 {font-size: 30px; bottom: 30%;}


 /* 어바웃 미 커스텀 */
 .about {margin-top: 0;}
 .profile {right: -6%;}
 .about-lt, .about-rt {height: 500px;}
 
 /* 섹션 1 vr, mone 크기 커스텀 */
 .content__text--left {font-size: 40px; margin-left: 10px;}
 .content__text--left .view-btn {left: 10%;}
 .content__text-tiny {font-size: 13px;}
 .content__text--left > img { width: 560px; height: 328px; left: 98%; top: 17%;}
 #item-4 .content__text--left {margin-left: 587px;}
 #item-4 .content__text--left > img { left: -124%;}
 #item-4 .content__text--left .view-btn {left: 46%;}
 .view-inter { left: 63%; font-size: 13px;}
 .view-skill-2 {left: 41%;}
 .content__img-inner {height: 560px;}


 /* 섹션 2, 3 서브 작업 커스텀 */
 .top-t {margin-top: 40px;}
 .common-section .mid-t {font-size: 12px;}
 .section-2 .sub-img {width: 80%; background-size: 600px 320px;}
 .section-3 .sub-img {width: 80%; background-size: 600px 320px;}


 /* 섹션 4 푸터 커스텀 */
 .section-4 .thank {top: 50%;}
 .section-4 .last {font-size: 12px; left: 34%;}
 .section-4 .copy {font-size: 12px; left: 38.5%;}
}


@media (max-width: 990px) {
	/* 헤더 메인 커스텀 */
	.header {height: 600px;}
	.main-txt {bottom: 18%;}
	.main-txt-2 {bottom: 12%;}

	/* 최상단 큐브 커스텀 */
	.cube {width: 120px; height: 120px; right: 44%; top: 40%; line-height: 5;}
	.front {transform: translateZ(60px);}
	.back {transform: translateZ(-60px); }
	.left {transform: translateX(-60px) rotateY(90deg);}
	.right {transform: translateX(60px) rotateY(90deg);}
	.top {transform: translateY(-60px) rotateX(90deg); }
	.bottom {transform: translateY(60px) rotateX(90deg);}
  .face {font-size: 25px;}
	.card {top: 29%; height: 43%;}
	/* 어바웃 미 커스텀 */
	.about {margin-top: 0;}
	.profile {right: -15%;}
	.profile > ul > li {font-size: 13px;}
	.about-lt-1 {left: 8.5%;}
	.about-lt >p {left: 14%;}
	
	/* 섹션 1 vr mone 리메이크 커스텀 */
	.section-1 {display: none;}
	.section-1-mob {display: block;}


	/* 섹션 2,3 리메이크 커스텀 */
	.common-section {display: none;}
	.section-2-mob {display: block;}
	.mob-inter {padding-left: 490px;}
	.mob-hyun-2 > .mob-inter {padding-left: 520px;}
	/* 섹션 4 커스텀*/
	.section-4 {height: 800px;}
	.section-4 .thank {font-size: 50px;}
	.section-4 .contact {font-size: 30px;}
}

@media (max-width: 820px){
	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 33%;  font-size: 5.25rem;}
}


@media (max-width: 768px){
	.top-btn {bottom: 10%; right: 5%; width: 40px; height: 40px; line-height: 2; font-size: 16px;}
	.cube {right: 42%;}
	.about-lt >p {font-size: 40px; left: 16%; top: 24%;}
	.profile {right: -25%;}

	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 35%; left: 30%;  font-size: 4.25rem;}

	/* 섹션 123 버튼 크기 커스텀 */
	.mob-vr-2 > .view-btn {width: 150px; font-size: 14px;}
	.mob-mone-2 > .view-btn {width: 150px; font-size: 14px;}
	.mob-lush-2 > .view-btn {width: 150px; font-size: 14px;}
	.mob-hyun-2 > .view-btn {width: 150px; font-size: 14px;}
	.mob-inter {padding-left: 365px;}
	.mob-hyun-2 > .mob-inter {padding-left: 390px;}
	
	/* 스크롤 이벤트 커스텀 */
	.first-parallel {font-size: 25px;}
	.second-parallel {font-size: 25px;}
	.third-parallel {font-size: 25px;}


	/* 섹션 4 커스텀*/
	.section-4 .contact {font-size: 25px;}
	.section-4 .thank {top: 40%;}
	.section-4 .last {left: 30%;}
	.section-4 .copy {left: 35.5%;}
}


@media (max-width: 680px){
  .card {width: 32%; left: 34%;}
	/* 어바웃 미 커스텀 */
		.profile {right: -7%; top: 59%;}
	.profile > ul > li {font-size: 12px; padding: 5px;}
	.about-lt-1 {left: 32.5%; top: 30%; width: 240px; height: 240px;}
	.about-lt >p {left: 32.5%; top: 21%; font-size: 35px;}

	/* 섹션 123 커스텀 */
	.mob-inter {padding-left: 283px;}
	.mob-hyun-2 > .mob-inter {padding-left: 310px;}

	/* 섹션 4 커스텀 */
	.section-4 .contact {left: 30%;}
	.section-4 .myname {left: 49%; font-size: 12px; bottom: 11%;}
	.section-4 .last {left: 25%;}
	.section-4 .copy {left: 31.5%;}

}





/*--------------------------------------------------모바일 반응형 시작----------------------------------*/
@media (max-width: 660px){
	/* 최상단 폰트 커스텀 */
	.main-txt {left: 30%;}
	.main-txt-2 {left: 36.5%;}


	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 32%; left: 25%;  font-size: 4.25rem;}

	/* 어바웃미 커스텀 */
	.about-lt >p {left: 38.5%;}
	.profile {right: -9%;}

  /* 섹션 123 커스텀 */
	.mob-inter {padding-left: 265px;}
	.mob-hyun-2 > .mob-inter {padding-left: 290px;}



}

@media (max-width: 600px){
	/* 어바웃미 커스텀 */
	.about-lt-1{left: 30.5%;}
	.about-lt >p {left: 37.5%;}
	.profile {right: -15%;}

	/* 섹션 123 커스텀 */
	.mob-inter {padding-left: 211px;}
	.mob-hyun-2 > .mob-inter {padding-left: 238px;}
	
	/* 섹션 4 커스텀 */
	.section-4 .contact{left: 29%; bottom: 11%;}
	.section-4 .myname {left: 52%;}
	.section-4 .last {left: 21%;}
	.section-4 .copy {left: 30.5%;}
}

@media (max-width: 550px){
		.ft-40 {font-size: 35px;}
		.card {width: 40%; left: 31%;}
		.cube {right: 38%;}
		.main-txt {left: 27%;}
		.main-txt-2 {left: 34.5%;}

		/* 사이드 메뉴 커스텀 */
		.Menu-list {top: 32%; left: 21%;  font-size: 4.25rem;}


		/* 어바웃미 커스텀 */
		.about-lt-1{left: 28.5%;}
		.about-lt >p {left: 35.5%;}
		.profile {right: -21%;}


		/* 섹션 123 커스텀 */
		.mob-inter {padding-left: 167px;}
		.mob-hyun-2 > .mob-inter {padding-left: 194px;}
		.mob-vr-2 > .view-btn {height: 40px; width: 130px; line-height: 40px;}
		.mob-mone-2 > .view-btn {height: 40px; width: 130px; line-height: 40px;}
		.mob-lush-2 > .view-btn {height: 40px; width: 130px; line-height: 40px;}
		.mob-hyun-2 > .view-btn {height: 40px; width: 130px; line-height: 40px;}
		/* 섹션 4 커스텀 */
		.section-4 {height: 500px; margin-top: 0;}
		.section-4 .contact {left: 27%; bottom: 12%;}
		.section-4 .myname {left: 52%; bottom: 12%;}
		.section-4 .last {left: 20%;}
		.section-4 .copy {left: 28.5%;}
}


@media (max-width: 500px){
	.cursor {display: none;}
	.Menu .close-btn {right: 4%; top: 4%;}
	/* 헤더 메인 커스텀 */
  .logo {font-size: 30px;}
	.solid-bar {font-size: 20px;}

	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 35%; left: 26%;  font-size: 3.25rem;}

		/* 최상단 큐브 커스텀 */
		.cube {width: 100px; height: 100px; right: 39%; top: 40%; line-height: 5;}
		.front {transform: translateZ(50px);}
		.back {transform: translateZ(-50px); }
		.left {transform: translateX(-50px) rotateY(90deg);}
		.right {transform: translateX(50px) rotateY(90deg);}
		.top {transform: translateY(-50px) rotateX(90deg); }
		.bottom {transform: translateY(50px) rotateX(90deg);}
		.face {font-size: 20px;}
 
  /* 스크롤 이벤트 커스텀 */
	.cover:nth-child(1) {margin-top: 200px;}
	.first-parallel {font-size: 20px;}
	.second-parallel {font-size: 20px;}
	.third-parallel {font-size: 20px;}
 		

	/* 큐브 뒤 카드 커스텀 */
	.card {width: 41%; left: 30%; height: 40%;}
	.main-txt {font-size: 25px; left: 28%;}
	.main-txt-2 {font-size: 25px; left: 35.5%;}

	/* 어바웃 미 커스텀 */
	.profile {right: -28%; top: 59%;}
	.profile > ul > li {font-size: 12px; padding: 5px;}
	.about-lt-1 {left: 26.5%; top: 30%; width: 240px; height: 240px;}
	.about-lt >p {left: 35%; top: 21%; font-size: 35px;}

 /* 섹션 123 커스텀 */
 .mob-work {font-size: 35px;}
 .ft-14 {font-size: 11px;}
  .ft-13 {font-size: 10px;}
	.mob-inter {padding-left: 120px;}
	.mob-hyun-2 > .mob-inter {padding-left: 150px;}

	/* 섹션 4 커스텀*/
	.section-4 .thank {font-size: 40px;}
	.section-4 .last {left: 22%; font-size: 10px; bottom: 8%;}
	.section-4 .contact {bottom: 12%; left: 24%;}
	.section-4 .myname {left: 50%; font-size: 12px; bottom: 12%;}
	.section-4 .copy {left: 29.5%; font-size: 10px;}
}



@media (max-width: 450px){
	.ft-25 {font-size: 20px;}
	.main-txt {bottom: 22%; left: 24%;}
	
	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 35%; left: 23%;  }
	.main-txt-2 {bottom: 17%; left: 32.5%;}
	/* 어바웃 미 커스텀 */
	.profile {right: -37%; top: 59%;}
	.profile > ul > li {font-size: 12px; padding: 5px;}
	.about-lt-1 {left: 22.5%; top: 30%; width: 240px; height: 240px;}
	.about-lt >p {left: 31%; top: 21%; font-size: 35px;}
	 

	/* 섹션 123 커스텀 */
	.mob-inter {padding-left: 100px;}
	.mob-hyun-2 > .mob-inter {padding-left: 120px;}


	/* 섹션 4 커스텀*/
	.section-4 .contact {left: 20%;}
	.section-4 .last{left: 18%;}
	.section-4 .copy {left: 27.5%;}
}




@media (max-width: 400px){
	.header {height: 450px;}
	.cube {right: 37%; top: 44%;}
	.ft-40 {font-size: 30px;}
	.main-txt {bottom: 11%; left: 23%;}
	.main-txt-2 {bottom: 5%; left: 31.5%;}
	.card {top: 33%; width: 44%; height: 45%; left: 28%;}
	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 35%; left: 20%;}

	/* 어바웃 미 커스텀 */
	.profile {right: -46%; top: 59%;}
	.profile > ul > li {font-size: 12px; padding: 5px;}
	.about-lt-1 {left: 19.5%; top: 30%; width: 240px; height: 240px;}
	.about-lt >p {left: 30%; top: 21%; font-size: 35px;}
	
	/* 섹션 123 버튼 크기 커스텀 */
	.mob-inter {padding-left: 80px; font-size: 12px;}
	.mob-hyun-2 > .mob-inter {padding-left: 105px; font-size: 12px;}
	.mob-vr-2 > .view-btn {width: 100px; height: 30px; line-height: 30px; font-size: 12px;}
	.mob-mone-2 > .view-btn {width: 100px; height: 30px; line-height: 30px; font-size: 12px;}
	.mob-lush-2 > .view-btn {width: 100px; height: 30px; line-height: 30px; font-size: 12px;}
	.mob-hyun-2 > .view-btn {width: 100px; height: 30px; line-height: 30px; font-size: 12px;}

	/* 섹션 4 커스텀*/
	.section-4 .contact {left: 17%;}
	.section-4 .last{left: 15%;}
	.section-4 .copy {left: 24.5%;}
	.section-4 .thank {font-size: 35px;}
}

@media (max-width: 380px) {
	.card {height: 34%;}

	/* 사이드 메뉴 커스텀 */
	.Menu-list {top: 35%; left: 30%; font-size: 2.25rem;}
	.Menu .close-btn {right: 4%; top: 4%;}

	/* 최상단 큐브 커스텀 */
	.cube {width: 80px; height: 80px; right: 39%; top: 40%; line-height: 5;}
	.front {transform: translateZ(40px);}
	.back {transform: translateZ(-40px); }
	.left {transform: translateX(-40px) rotateY(90deg);}
	.right {transform: translateX(40px) rotateY(90deg);}
	.top {transform: translateY(-40px) rotateX(90deg); }
	.bottom {transform: translateY(40px) rotateX(90deg);}
	.face {font-size: 20px;}

	/* 어바웃 미 커스텀 */
	.profile {right: -49%; top: 59%;}
	.profile > ul > li {font-size: 12px; padding: 5px;}
	.about-lt-1 {left: 17.5%; top: 30%; width: 240px; height: 240px;}
	.about-lt >p {left: 28%; top: 21%; font-size: 35px;}

	/* 섹션 123 버튼 크기 커스텀 */
	.mob-inter {padding-left: 70px;}
	.mob-hyun-2 > .mob-inter {padding-left: 90px;}
	/* 섹션 4 커스텀*/
	.section-4 .contact {left: 16%;}
	.section-4 .last{left: 13%;}
	.section-4 .copy {left: 22.5%;}
	.section-4 .thank {font-size: 35px;}
}


/*--------------------------------------------------모바일 반응형 마무리----------------------------------*/